/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(195, 74%, 19%);
    --first-color-1: hsl(13, 100%, 75%);
    --first-color-2: hsl(155, 89%, 72%);
    --white-color: #fff;

    /*========== Font ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --second-font: "Montserrat", serif;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*=============== BASE ===============*/
* {

    align-self: center;
    font-family: "montserrat", sans-serif;
}

body {
    background-color: #fff;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/*=============== REUSABLE CSS CLASSES ===============*/


.main {
    overflow: hidden;
    /* For animation */
}

/*=============== HEADER & NAV ===============*/
.header__title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.header__education {
    text-align: center;
    padding-top: 50;
    padding-bottom: 10px;
    margin: 0;
    font-weight: var(--font-regular);
}

.header__description {
    font-weight: var(--font-medium);
    padding: 0 50px 0 50px;
}

/*=============== VIDEO ===============*/
.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video iframe {
    position: absolute;
    width: 100%;
    height: 100%;

}

@media screen and (max-width: 320px) {
    .video {
        padding-bottom: 80%;
    }
}

/*=============== ANIMATION ===============*/
.anim-1 {
    background-color: #102044;
    color: #fff;
    border: 2px #4e56a9 solid;
}

.anim-1:hover {
    color: black;
}

.anim-2 {
    background-color: #102044;
    color: #fff;
    border: 2px #4e56a9 solid;
    padding: 10px;
}

.anim-2:hover {
    color: black;
}

.anim-3 {
    background-color: #102044;
    color: #fff;
    border: 2px #4e56a9 solid;
    padding: 10px;
}

.anim-3:hover {
    color: black;
}

.anim-4 {
    background-color: #102044;
    color: #fff;
    border: 2px #4e56a9 solid;
    padding: 10px;
}

.anim-4:hover {
    color: black;
}

.anim-5 {
    background-color: #102044;
    color: #fff;
    border: 2px #4e56a9 solid;
    padding: 10px;
}

.anim-5:hover {
    color: black;
}

.anim-6 {
    background-color: #102044;
    color: #fff;
    border: 2px #4e56a9 solid;
    padding: 10px;
}

.anim-6:hover {
    color: black;
}

/* ============== LIST =============== */
.list-title {
    text-align: center;
    margin: 0;
    padding: 20px 0 10px 0;
    font-style: var(--font-medium);
}

.list-1,
.list-2 {
    text-decoration: dashed;
    padding: 0px;
    font-style: var(--font-regular);
}

.list-1 h2 {
    padding: 0 0 0 50px;
}

.list-2 h2 {
    padding: 0 0 0 50px;
}

li {
    padding: 0 10px 0 100px;
}

/*=============== TEXT ===============*/
.text {
    text-align: center;
    margin: 0;
    padding: 20px 0 50px 0;
}

.text-1 {
    text-align: left;
    margin: 0;
    padding: 0 50px 0 50px;
    font-weight: var(--font-medium);
}

/*=============== WARNING ===============*/
.warning {
    display: flex;
    background-color: #fff;
    padding:10%;
}

.warning-1 {
    text-align: center;
    background-color: rgb(112, 101, 122);
    border: 10px rgb(42, 108, 143) solid;
    margin: 0;
    padding: 0px;
}

.warning-1:hover {
    background-color: #4e56a9;
}


/*=============== FEEDBACK ===============*/
.feedback {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0 50px 10px 50px;
}
.feedback-1,
.feedback-2,
.feedback-3,
.feedback-4 {
    text-align: left;
    margin-top: 0;
    padding-bottom: 0;
    padding: 0 50px 0 50px;
}


/* =============== FOOTER =============== */
footer{
    text-align: left;
    padding-left: 10px;
}
footer h1{
    text-align: center;
}
.img-men {
    margin: 20px auto;
    width: 80%;
}

img {
    max-width: 320px;
    float: left;
    margin: 0;
    padding: 10px;
}

@media screen and (min-width: 320px) {
    img {
        width: 100%;
    }
}

.text-box {
    margin: 0;
    padding-left: 10px;
    padding-bottom: 50px;
}

/* ===============BUY ===============  */
.buy {
    text-align: center;
}

.buy h1 {
    text-align: center;
    margin: 0;
    padding: auto;
}

.buy p {
    text-align: center;
    margin: 0;
    padding: 0;
}

/*=============== BUTTON ===============*/
.buy .botton{
    text-align: center;
}
.button {
    background-color: var(--first-color);
    padding: 1rem 1.75rem;
    border-radius: 4rem;
    font-weight: var(--font-medium);
}

button:hover {
    color: #fff;
}
